# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv/
venv/
.env*

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Data
data/
*.parquet
*.pkl
models/
mlruns/

# Local resume file - do not upload
RESUME_NOTES.md
