# Core
pandas
numpy
pyarrow
fastparquet
joblib
tqdm
python-dateutil

# ML
scikit-learn
lightgbm
xgboost
catboost
imbalanced-learn
optuna
lifetimes


# Uplift Modeling (optional, recommended)
causalml
econml

# Interpretability
shap

# Visualization & EDA
matplotlib
seaborn
plotly
missingno
streamlit
# App deployment
streamlit

# Notebook environment
jupyterlab
